<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daSquareBro.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>daSquareSis.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Squares.png</string>
            <key>size</key>
            <string>{58,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f311797505996908dccd33645cf39f0e:a6a20ca3aac848f5940e276cf3cf95d4:a49597d8e85b19d121101b4790394a35$</string>
            <key>textureFileName</key>
            <string>Squares.png</string>
        </dict>
    </dict>
</plist>
