<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>daSquareBro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1084},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daSquareSis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1084},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mainGrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{1440,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,900}}</string>
                <key>sourceSize</key>
                <string>{1440,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TaotrisRes.webp</string>
            <key>size</key>
            <string>{1924,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce7986257ffcde7ef2442e791ca5cfa0:896089f3e674c856553657a603196188:ae10ba4e321433e4b955bb4e2f785dc7$</string>
            <key>textureFileName</key>
            <string>TaotrisRes.webp</string>
        </dict>
    </dict>
</plist>
